.inputPanelWrapper > label {
  padding: 8px 16px;
}

.inputPanelWrapper > textarea {
  border: none;
  border-top: solid lightgrey 1px;
  flex: 1;
  font-family: inherit;
  max-height: 200px;
  outline: none;
  padding: 16px;
  resize: none;
}
