.inputPanelWrapper > label {
  padding: 16px;
  padding-bottom: 0;
}

.inputPanelWrapper > textarea {
  border: none;
  flex: 1;
  font-family: inherit;
  max-height: 200px;
  outline: none;
  padding: 16px;
  resize: none;
}
